In [11]:
print("Hi")

Hi

In [9]:
print("Python")
print("Java")

Python
Java

### 3 Modes of execution :
> 1. Interactive mode cmd python >>> quit()
> 2. Scripting mode .py cmd dir python filename.py 
> 3. IDE ctrl + enter , shift + enter

In [15]:
print("Hi")

Hi

In [16]:
print("Hi")

Hi

Data types :
> 1 int 10 255 366666 immutable
> 2 float 10.2555 45.555  immutable 
> 3 str 'python' "Java" """ Python sample string """ immutable 
> 4 list [10,20,30,45.555,"Python","Java",[100,200,300,400]] mutable 
> 5 tuple (10,20,30,40,"Python","Java",[10,20,30],(100,200,300)) immutbale 
> 6 dict {"name":"ABC","email":"abc@gmail.com","contact":"912344678"} mutable 
> 7 set {10,20,30,40,50,80} mutable 
> 8 bool True False  immutable

In [17]:
a = 5555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555
print(a)

5555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555

In [ ]:
True False None

In [21]:
num1 = 400
num2 = 300
num3 = num1 + num2
print(num3,type(num3))

700 <class 'int'>

In [23]:
s = "Python sample string "
print(type(s))

<class 'str'>

In [24]:
l = [10,20,30,40,50,60]
print(type(l))

<class 'list'>

In [ ]:
a = 0

In [25]:
num1 = 100
print(num1)

num1 = "Python"
print(num1)

100
Python

In [ ]:
num1 = 100

In [ ]:
100 
10001    num1

In [32]:
num1 = 257
num2 = 257
print(id(num1),id(num2))

# num2 = 101
# print(id(num2))
# num1 = 101
# print(id(num1))

# Object intering

3145235792272 3145235791952

In [33]:
num1 = num2 = 200
print(num1,num2)

200 200

In [35]:
num1,num2 = 100,200
print(num1,num2)

num1,num2 = num2,num1
print(num1,num2)

100 200
200 100

In [ ]:
PEP standards

In [ ]:
Operators :
    1.Arithmetic operators +,-,*,/,// - floor division ,**,%
    2.Comparison operators ==, != ,<,>, <=,>= 
    3 Identity operators is is not
    4 Membership Operators in not in
    5 Logical opertaors and or not 
    6 Assignment operators =,+=,-=,*=,/=

In [41]:
print(10 / 3)
print(10 // 3)
print(10 % 3)
print(10 ** 5)

3.3333333333333335
3
1
100000

In [44]:
l1 = [10,20,30,40,50]
l2 = [10,20,30,40]
print(l1 == l2)
print(l1 != l2)

False
True

In [46]:
s = "Python"
s2 = "Python"

print( s == s2)

True

In [48]:
num1 = 100
num2 = 100
print( num1 == num2)
print(num1 is num2)

True
True

In [50]:
l1 = [10,20,30]
l2 = [10,20,30]

print(l1 == l2)
print(l1 is l2)

True
False

In [8]:
num1 = 2555
num2 = 2555
print(num1 is not num2)

True

In [6]:
l = [10,20,30]
print(id(l))
l.append(40)
print(l)
print(id(l))

2699205416840
[10, 20, 30, 40]
2699205416840

In [5]:
num1 = 101
print(id(num1))
num1 = 102
print(id(num1))

1923381440
1923381472

In [13]:
l = [10,20,30,40,50]
print(500 in l)
print("P" in "Python")

False
True

In [20]:
d = {1:1,2:4,3:9,4:16}
print(20 not in  d)

True

In [22]:
print(not(5 == 5 and 6!=7))

False

In [1]:
num1 = 100 
num1 = num1 + 5
print(num1)
num2 /=5
print(num2)

105

NameError: name 'num2' is not defined

In [ ]:
identity is is not 
comarison  ==,!= ,...
membership in not in 
logical operators and or not

In [29]:
print(5 & 5)

5

### Conditional Statements
if else 

if [condition]:
    statemnt1
    statemnts 2
elif [condition]:
    sattemnts
else:
    statemnts

In [2]:
num1 = 100
num2 = 200
num3 = num1 + num2
num3

300

In [13]:
num1 = 500
num2 = 700

if num1 > num2:
    if num1 % 5 == 0:
        print("num1 is greater and divisible by 5")
    else:
        print("Num1 is greater")
elif num2 > num1:
    print("Num2 is greater")
else:
    print("both are equal")

Num2 is greater

In [17]:
char = 'a'
if char in 'aeiou':
    print("Vowel")
else:
    print("Consonent")

Vowel

In [19]:
num1 = 45
if num1 % 2 == 0:
    print("No is even converting to add",num1 + 1)
else:
    print("No is odd converting to even ",num1 + 1)

No is odd converting to even  46

In [ ]:
if [condition]:
    
elif [condition]:
    
    
else:

In [28]:
if 100 :
    print("Hi")
    print("Hello")
else:
    print("Python")

Hi
Hello

In [ ]:
Loops :
for:
for [userdefined variable ] in [iterable data type/collection]:
    statements

In [32]:
l = [15,20,24,56,85,78]
for value in l:
    if value % 2 == 0:
        print(value,"even")
    else:
        print(value,"odd")

15 odd
20 even
24 even
56 even
85 odd
78 even

In [2]:
l = [10,20,30,40,50,60]
sum = 0
for value in l:
    sum = sum + value
print(sum)

210

In [ ]:
num = 6 
6 = > 1 2 3
==6

In [ ]:
range(10) 0 1 2 ....9
range(10,50) 10 11 12 ..... 49
range(,50,5) 10 1 5 20 25 .... 45

In [8]:
for value in range(10,-10,-1):
    print(value)

10
9
8
7
6
5
4
3
2
1
0
-1
-2
-3
-4
-5
-6
-7
-8
-9

In [9]:
print(list(range(1,10,2)))

[1, 3, 5, 7, 9]

In [ ]:
perfect num  = 6 
1 2 3 4 5 
print divisors 
addition of divisors

In [18]:
num = 6
sum = 0
for value in range(1,num):
    
    if num % value == 0:
        sum = sum + value
        
if num == sum:
    print("perfect num")
else:
    print("Not a perfect no")

perfect num

In [ ]:
1 2 3 4 5 
sum = 0
1 : 6 % 1 == 0 T  0 + 1 == 1 
2 6 % 2 == 0 T 1 + 2 = 3 
3 6 % 3 == 0 T  3 + 3 = 6
4 6 % 4 == 0 F 
5 6 % 5 == 0 F

In [32]:
l = [100,200,300,400,500,600,700,800]
key = 500
for index,value in enumerate(l):    
    if value == key:
        print("Element present",index)
        break
    else:
        continue
else:
    print("element not present")

Element present 4

In [31]:
l = [10,20,30,40]

for index,value in enumerate(l):
    print(index,value)

0 10
1 20
2 30
3 40

In [29]:
s = "Python sample string"

for value in s:
    print(value)

P
y
t
h
o
n

s
a
m
p
l
e

s
t
r
i
n
g

In [30]:
d = {1:1,2:4,3:9,4:16}
for x in d:
    print(x)

1
2
3
4

In [33]:
for val1 in range(1,5):
    for val2 in range(100,105):
        print(val1,val2)

1 100
1 101
1 102
1 103
1 104
2 100
2 101
2 102
2 103
2 104
3 100
3 101
3 102
3 103
3 104
4 100
4 101
4 102
4 103
4 104

In [ ]:

  
1  2 3  4 5 
2  4 6 8 10
3   
4
5
6
7
8
9
10

In [50]:
for val1 in range(1,11):
    for val2 in range(1,6):
        print(val1 * val2,end = "\t")
    print("\n")

1	2	3	4	5

2	4	6	8	10

3	6	9	12	15

4	8	12	16	20

5	10	15	20	25

6	12	18	24	30

7	14	21	28	35

8	16	24	32	40

9	18	27	36	45

10	20	30	40	50

In [46]:
print(10,20,end = " ",sep = ",")
print("Hi")
print("Hello")

10,20 Hi
Hello

In [ ]:
syntax :
range 
enumerate 
else 
break continue

In [ ]:
while [condition]:
    statemnts

In [ ]:
1.. 20

In [52]:
count = 1
sum = 0
while count <= 20:
    sum = sum + count 
    count+=1
print(sum)

210

In [ ]:
== is

mem
log 
iden 
com

In [ ]:
id 
type

In [ ]:
num1 = 1000
num2 = 1000
0 - 256

In [ ]:
if 22:
    print("Welcome")
else:
    print("Hi")

In [ ]:
index,value enumerate

else:

In [ ]:
for [varaible] in [ietrable datatype ]:
    stat
else:
    
itit    
while [condition]:
    statemnts
    incremnt