In [23]:
class OilAndGasUnit:
    def __init__(self,name,srl_id,loc,prod_line,num_emp,head):
        self.name = name
        self.srl_id = srl_id
        self.location = loc
        self.prod_line = prod_line
        self.num_emp = num_emp
        self.head = head
        
    def incrNumEmp(self,new_add_count):
        self.num_emp += new_add_count
        
    def renameSrlId(self):
        self.srl_id = "GE"+str(self.srl_id)
        
    def renameSrlIdPrefix(self,prefix):
        self.srl_id = prefix + str(self.srl_id)

In [17]:
guj_unit = OilAndGasUnit("GUJ_UNIT",1233112,"rampur","TPS",1000,"Sarvan")

In [25]:
blor_unit = OilAndGasUnit("KA_UNIT",1233113,"rampur","DTS",1000,"Shakti")

In [11]:
guj_unit.__dict__

{'name': 'GUJ_UNIT',
 'srl_id': 1233112,
 'location': 'rampur',
 'prod_line': 'TPS',
 'num_emp': 1000,
 'head': 'Sarvan'}

In [7]:
blor_unit.location

'rampur'

In [12]:
guj_unit.incrNumEmp(10)

In [13]:
guj_unit.__dict__

{'name': 'GUJ_UNIT',
 'srl_id': 1233112,
 'location': 'rampur',
 'prod_line': 'TPS',
 'num_emp': 1010,
 'head': 'Sarvan'}

In [18]:
guj_unit.renameSrlId()

In [19]:
guj_unit.srl_id

'GE1233112'

In [26]:
blor_unit.renameSrlIdPrefix("XYZ")

In [27]:
blor_unit.__dict__

{'name': 'KA_UNIT',
 'srl_id': 'XYZ1233113',
 'location': 'rampur',
 'prod_line': 'DTS',
 'num_emp': 1000,
 'head': 'Shakti'}

In [28]:
blor_unit.estd_data = "22/11/1985"

In [30]:
blor_unit.__dict__

{'name': 'KA_UNIT',
 'srl_id': 'XYZ1233113',
 'location': 'rampur',
 'prod_line': 'DTS',
 'num_emp': 1000,
 'head': 'Shakti',
 'estd_data': '22/11/1985'}

In [57]:
class Complex:
    count = 0
    def __init__(self, real, img):
        self.real = real
        self.img = img
        self.__salary = 1000
        Complex.count +=1
        
    def __add__(self,c):
        return Complex(self.real + c.real, self.img + c.img)
    
    def __eq__(self,c):
        if (self.real == c.real) and (self.img == c.img):
            return True
        else:
            return False
        
    def getSalary(self):
        return self.__salary

In [58]:
c1 = Complex(2,5)

In [51]:
c2 = Complex(3,5)

In [59]:
c1.getSalary()

1000

In [64]:
c1._Complex__salary

1000

In [52]:
c1 == c2

False

In [40]:
Complex.count

2

In [43]:
c3 = c1 + c2
#c3 = c1.__add__(c2)

In [44]:
Complex.count

4

In [45]:
c3.__dict__

{'real': 5, 'img': 10}

In [47]:
c1 += c2

In [48]:
c1.__dict__

{'real': 5, 'img': 10}

In [153]:
import datetime

class Employee:
    def __init__(self,name,emp_id, salary,age=25,designation='Engineer'):
        self.name = name
        self.designation = designation
        self.age = age
        self.emp_id = emp_id
        self.salary = salary
        self.create_time = datetime.datetime.now()
        
    def giveHike(self, pct):
        self.salary += self.salary*pct*.01
        
    def __hash__(self):
        h = hash(self.name) % 10
        print (h)
        return h
        
    def __eq__(self,e):
        if self.emp_id == e.emp_id:
            return True
        else:
            return False
        
    def __repr__(self):
        return str(self.emp_id) + ' - ' + str(self.salary)
    
    @staticmethod
    def giveHoliDay(num_days):
        print ('Enjoy holidays',num_days)

In [154]:
e1 = Employee(name='Shubhan', emp_id=1002, salary=900000)

In [156]:
Employee.giveHoliDay(5)

Enjoy holidays 5

In [157]:
Employee.__dict__

mappingproxy({'__module__': '__main__',
              '__init__': <function __main__.Employee.__init__(self, name, emp_id, salary, age=25, designation='Engineer')>,
              'giveHike': <function __main__.Employee.giveHike(self, pct)>,
              '__hash__': <function __main__.Employee.__hash__(self)>,
              '__eq__': <function __main__.Employee.__eq__(self, e)>,
              '__repr__': <function __main__.Employee.__repr__(self)>,
              'giveHoliDay': <staticmethod at 0x7fe1f114c908>,
              '__dict__': <attribute '__dict__' of 'Employee' objects>,
              '__weakref__': <attribute '__weakref__' of 'Employee' objects>,
              '__doc__': None})

In [146]:
e2 = Employee('Shubhangi', 1002, 900000)

In [147]:
e3 = Employee('Sarvan', 1003, 90000000)

In [148]:
s = set([e1,e2,e3])

7
6
1

In [149]:
db = {}

In [150]:
db[e1] = 'Good'

7

In [151]:
db[e2] = 'Great'

6

In [152]:
db[e3] = 'Awesome'

1

In [135]:
db

7
6
1

{1002 900000: 'Good', 1002 900000: 'Great', 1003 90000000: 'Awesome'}

In [136]:
e1 in db

7

True

In [137]:
id(e1)

140608505440576

In [138]:
id(e2)

140608505439120

In [139]:
for e in s:
    e.giveHike(5)

In [140]:
s

{1002 945000.0, 1002 945000.0, 1003 94500000.0}

In [141]:
s

{1002 945000.0, 1002 945000.0, 1003 94500000.0}

In [169]:
class Manager(Employee):
    def __init__(self,name,emp_id, salary, num_reports, age=25,designation='Engineer'):
        Employee.__init__(self,name,emp_id,salary)
        #super(Employee,self).__init__(name,emp_id,salary)
        self.num_reports = num_reports
        
    def __repr__(self):
        return Employee.__repr__(self)+ ' ' +str(self.num_reports)

In [171]:
m = Manager('abc',123,1000,6)

In [162]:
isinstance(e1,Employee)

True

In [172]:
m.giveHike(10)

In [173]:
m

123 - 1100.0 6

In [174]:
import re

In [197]:
matches = re.search(r'\w','good1*great')

'g'

In [191]:
re.search(r'..in','pin')

In [193]:
m = re.search(r'\d\d\d','abc123jsdh')

In [194]:
m.group()

'123'

In [196]:
re.findall(r'\d\d\d','abc123jsdh567sasas')

['123', '567']

In [201]:
re.findall(r'\d+','abc123jsdh34567sasas')

['123', '34567']

In [205]:
re.findall(r'\d\d\s*\w','jasdhjads 12    efgg')

['12    e']

In [210]:
re.findall(r'[a-z]+', 'qw2w3 e3e3ddfdfdf')

['qw', 'w', 'e', 'e', 'ddfdfdf']